body {
  background-color: #060606;
  font-family: "Teachers", sans-serif;
}

h1 {
  text-align: center;
  font-family: "Teachers", sans-serif;
  font-size: 36px;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
  color: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: linear-gradient(to top, #eac7c8 0%, #fecfef 99%, #fecfef 100%);
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}

footer {
  text-align: center;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}

a {
  text-decoration: none;
  color: pink;
}